<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681609208614-9f6miom5v6leeed7peq4u1k7asapiulv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681609208614-9f6miom5v6leeed7peq4u1k7asapiulv</string>
	<key>API_KEY</key>
	<string>AIzaSyAUbHKcDvDL7W72WlpjwbwJCxVlV6co6_c</string>
	<key>GCM_SENDER_ID</key>
	<string>681609208614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taskmateapp.taskmate</string>
	<key>PROJECT_ID</key>
	<string>taskmate-8ab5f</string>
	<key>STORAGE_BUCKET</key>
	<string>taskmate-8ab5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681609208614:ios:bdf54e73d625f06c3dd7e7</string>
</dict>
</plist>